<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All tests">
    <test name="Man">
        <classes>
            <class name="TestMan">
            </class>
        </classes>
    </test>
    <test name="Woman">
        <classes>
            <class name="TestWoman"></class>
        </classes>
    </test>
</suite>